@charset "UTF-8";

#list_p{
	align:center;
}

#list{
	width:25%;
	float:left;
}

body{
	background-color:#FDFCF0;
}

p.img{
	border:1px solid black;
	width:800px;
	height:300px;
	float:center;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
#productRealBody{
	margin: 30px auto;
	width:  1200px;
	display: block;
}
#productRealBody #body_top{
	width:  100%;
	height:  350px;
}

#productRealBody #bady_bottom{
	width:  100%;
	height: 100%;
	padding: 50px;
	overflow: auto;
}
#list_p{
	display: inline;
}