

.button_base {
    margin: 0;
    border: 0;
    font-size: 12px;
    position: relative;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -40px;
    padding-top:7px;
    width: 80px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}
.b05_3d_roll {
	perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b05_3d_roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 25px;
    padding: 2px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

.b05_3d_roll div:nth-child(1) {
    color: #000000;
    background-color: #000000;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 35% 35% 0px;
    -webkit-transform-origin: 35% 35% 0px;
    -moz-transform-origin: 35% 35% 0px;
}

.b05_3d_roll div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 35% 35% 0px;
    -webkit-transform-origin: 35% 35% 0px;
    -moz-transform-origin: 35% 35% 0px;
}

.b05_3d_roll:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
    background-color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}












		div{
			box-sizing: border-box;
		}
		.div_top{
			width: 800px;
			height: 600px;
			margin: 50px auto;
			display: block;
		}
		#top_movie{
			margin:1px;
			width: 31%;
			height: 100%;
			float: left;
		}
			#top_movie_div1{
				border:1px solid white;
				background-color:#4C4C4C;
				color: #F3F3F3;
				float: left;
				width: 100%;
				height: 5%;
			}
			.top_movie_div1_title{
				text-align: center;
			}
			#top_movie_reset{
				text-align:center;
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 5%;
			}
			.reset_choice{
				outline: 0;
				border:0;
				
			}
			#top_movie_div2{
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 89%;
				overflow-y: auto;
			}
				#top_movie_div2 .movie_item{
					margin:1px;
					width: 100%;
					height: 40px;
				}
				#top_movie_div2 .movie_item .movie_code{
					width: 100%;
					height: 100%;
				}
				#top_movie_div2 .movie_item .movie_code label{
					text-align: left;
					width: 100%;
					height: 100%;
					font-weight: bold;
					font-size: 20px;
					line-height: 40px;
				}
				
		#top_theater{
			margin:1px;
			width: 22%;
			height: 100%;
			float: left;
		}
			#top_theater_div1{
				border:1px solid white;
				background-color:#4C4C4C;
				color: #F3F3F3;
				float: left;
				width: 100%;
				height: 5%;
			}
			#top_theater_reset{
				text-align:center;
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 5%;
			}
			#top_theater_div2{
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 89%;
				overflow-y: auto;
			}
				#top_theater_div2 .theater_item{
					border : 1px solid black;
					width: 100%;
					height: 40px;
				}
				#top_theater_div2 .theater_item .theater_code{
					width: 100%;
					height: 100%;
				}
				#top_theater_div2 .theater_item .theater_code label{
					text-align: center;
					width: 100%;
					height: 100%;
					font-weight: bold;
					font-size: 20px;
					line-height: 40px;
				}
				
		#top_date{
			text-align:center;
			margin:1px;
			width: 12%;
			height: 100%;
			float: left;
		}
			#top_date_div1{
				border:1px solid white;
				background-color:#4C4C4C;
				color: #F3F3F3;
				float: left;
				width: 100%;
				height: 5%;
			}
			#top_date_reset{
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 5%;
			}
			#top_date_div2{
			text-align:center;
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 89%;
				overflow-y: auto; 
			}
				#top_date_div2 .month_label{
					border-top : 1px solid black;
					width: 100%;
					height: 40px;
					text-align: center;
					font-weight: bold;
					font-size: 20px;
					line-height: 40px;
				}
				#top_date_div2 .date_item{
					width: 100%;
					height: 40px;
				}
				#top_date_div2 .date_item .date_code{
					width: 100%;
					height: 100%;
				}
				#top_date_div2 .date_item .date_code label{
					text-align: center;
					width: 100%;
					height: 100%;
					font-weight: bold;
					font-size: 20px;
					line-height: 40px;
				}
			#top_time{
				margin:1px;
				width: 34%; /* 여유 14%남음 */
				height: 100%;
				float: left;
			}
		
			#top_time_div1{
				border:1px solid white;
				background-color:#4C4C4C;
				color: #F3F3F3;
				float: left;
				width: 100%;
				height: 5%;
			}
			#top_time_div2{
				background-color:#FFFFF6;
				border : 1px solid #D5D5D5;
				float: left;
				width: 100%;
				height: 94%;
			}
				#top_time_div2 .place_label{
					border-top : 1px solid black;
					width: 60%;
					height: 40px;
					float: left;
					text-align: left;
					font-weight: bold;
					font-size: 20px;
					line-height: 40px;
				}
				#top_time_div2 .place_totalSeat{
					border-top : 1px solid black;
					width: 40%;
					height: 40px;
					float: left;
					color: gray;
					text-align: left;
					font-size: 15px;
					line-height: 40px;
				}
				#top_time_div2 .show_item{
					width: 48%;
					height: 40px;
					float: left;
				}
				#top_time_div2 .show_item .show_present_code{
					width: 100%;
					height: 100%;
					margin-left: 5px; 
				}
				#top_time_div2 .show_item .show_present_code label{
					width: 100%;
					height: 100%;
				}
				#top_time_div2 .show_item .show_present_code input{
					width: 70px;
					height: 30px;
					background: orange;
					border: 1px solid orange;
					border-radius: 5px;
					margin-right: 5px; 
				}
		.div_bottom{
			background-color:#242424;
			text-align:center;
			padding: 0% 15% 0% 18%;
			height: 125px;
		}
		.div_bottom *{
			color:#A6A6A6;
			height: 100%;
			float: left;
			font-size: 20px;
		}
		
		.div_bottom #bottom_photo_title{
			border-left : 1px solid #FFFFF6;
			width: 30%;
		}
		.div_bottom #bottom_photo_title #movie-poster{
			height: 100%;
			width: 50%;
			float: left;
			padding: 5px 10px;
		}
		.div_bottom #bottom_photo_title #movie-poster img{
			height: 100%;
			width: 100%;
		}
		.div_bottom #bottom_photo_title #movie-info{
			padding-top : 20px;
			height: 100%;
			width: 50%;
			float: left;
			font-weight: bold;
		}
		.div_bottom #bottom_photo_title #movie-info a{
			color : white;
			font-size: 15px;
			text-decoration: none;
		}
		.div_bottom #bottom_photo_title #movie-info a:hover{
			text-decoration: underline;
		}
		.div_bottom #bottom_pack{
			border-left : 1px solid #FFFFF6;
			width: 20%;	
		}
		.div_bottom #bottom_pack #show-title, #show-info{
			padding-top : 10px;
			height: 100%;
			width: 50%;
		}
		.div_bottom #bottom_pack #show-title #title{
			font-size: 15px;
			height: 20%;
			width: 100%;	
		}
		.div_bottom #bottom_pack #show-info *{
			color : white;
			height: 20%;
			width: 100%;	
			font-weight: bold;
			font-size: 15px;
		}
		.div_bottom #bottom_seat, #bottom_pay{
			border-left : 1px solid #FFFFF6;
			width: 15%;
		}
		
		.div_bottom #bottom_seat_choice{
			border-left : 1px solid #FFFFF6;
			padding-top : 10px;
			padding-left : 55px;
			width: 19%;	
			border-right : 1px solid #FFFFF6;
		}
		
		.div_bottom #bottom_seat_choice button{
			height : 50px;
			outline:0;
			font-size : 14px;
			color : white;
			text-decoration : none;
			width : 100px;
			border-radius: 10px;
			background-color: #e24d1b;
		}
		.div_bottom #bottom_seat_choice button:hover {
			background-color: #ef4f1a;
		}
					
			
		#my_popup_div{
			display: none;
			position: fixed; 
			top: 50px;
			left: 25%; 
			width: 800px;
			height: 600px;
			z-index: 20;
		}
		#my_popup_div #popup_title{
			color: white;
			font-weight: bold;
			text-align: right;
			width: 100%;
			height: 5%;
		}
		#my_popup_div #popup_main{
			border: 1px solid gray;
			width: 100%;
			height: 95%;
		}
		
		#my_popup_shadow{
			display: none;
			position: fixed; left: 0; top: 0;
			height: 100%; width: 100%; background: black;
			filter: alpha(opacity=60); opacity: 0.60;
			z-index: 10;
		}
		#popup_title input:focus{
			border: 0;
		}
		#renew_my_popup:hover{
			background: url(/MyCGV/image/logo/reButton2.png);
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;
		}
		#renew_my_popup, #renew_my_popup:active{
			background: url(/MyCGV/image/logo/reButton1.png) ;
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;    
			cursor: pointer;
		}
		#renew_my_popup:focus{
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;    
		}
		#close_my_popup:hover{
			background: url(/MyCGV/image/logo/xButton2.png);
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;
			text-decoration:none;
		}
		#close_my_popup, #close_my_popup:active{
			background: url(/MyCGV/image/logo/xButton1.png) ;
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;    
			text-decoration:none;
			cursor: pointer;
		}
		#close_my_popup:focus{
			border: 0;
			padding: 0;
			width: 30px;
			height: 30px;    
			text-decoration:none;
			cursor: pointer;
		}