@charset "UTF-8";
	div{
		margin : auto;
	}
	
	#moviepage{
		background-image : url('../../image/storage/movieInfo.png');
		width: 1000px;
		height: 2300px;
	}
	#moviepage #pagenevi{
		padding-left : 10px;
		width: 100%;
		height: 0.8%;
		background-color: lightgray;
	}
	#moviepage #head-title{
		padding-top : 5px;
		font-size : 35px;
		font-weight : bold;
		width: 100%;
		height: 4%;
	}
	#moviepage #head-title hr{
		border-width: 4px;
		border-style: outset;
	}
	
	#moviepage #middle{
		width: 100%;	
		height: 33%;
	}
	#moviepage #middle #movieContent{
		width: 100%;
		height: 40%;
	}
	#moviepage #middle #moviestore{
		width: 100%;
		height: 60%;
	}
	#moviepage #middle #moviestore font{
		font-size: 25px;
		font-weight: bold;
	}
	#moviepage #middle #movieContent #movieposter{
		padding : 3px;
		width: 20%;
		height: 100%;
		float: left;
	}
	#moviepage #middle #movieContent #movieposter img{
		width: 100%;
		height: 100%;
	}
	#moviepage #middle #movieContent #movieinfo{
		width: 79%;
		height: 100%;
		float: left;
	}
	#moviepage #middle #movieContent #movieinfo *{
		padding-top : 7px;
		padding-left : 5px;
	}
	#moviepage #middle #movieContent #movieinfo #movietitle{
		width: 100%;
		height: 25%;
	}
	#moviepage #middle #movieContent #movieinfo #movietitle #title-font{
		font-size: 25px;
		font-weight: bold;
	}
	#moviepage #middle #movieContent #movieinfo #moviescore{
		width: 100%;
		height: 15%;
	}
	#moviepage #middle #movieContent #movieinfo #moviescore pre{
		
	}
	#moviepage #middle #movieContent #movieinfo #spec{
		font-size : 13px;
		font-weight : bold;
		width: 100%;
		height: 35%;
	}
	#moviepage #middle #movieContent #movieinfo #like{
		width: 100%;
		height: 25%;
	}
	#moviepage #middle #movieContent #movieinfo #like a{
		color : white;
	}
	
	#moviepage #movietrailer{
		width: 100%;
		height: 15%;
	}
	#moviepage #movietrailer #trailer-title{
		padding-top : 10px;
		margin : 10px 30px;
		text-align : center;
		width: 94%;
		height: 18%;
		background-color: #cccccc;
	}
	#moviepage #movietrailer #trailer-content{
		width: 100%;
		height: 75%;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity{
		padding : 0px 5px;
		float : left;
		width: 33.3%;
		height: 100%;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity #trailer-top{
		border-radius: 10px 10px 0px 0px;
		background-color: #bef7bf;
		height : 10%;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity #trailer-name{
		padding-top : 5px;
		background-color: lightgray;
		height : 15%;
		text-align : center;
		font-size: 18px;
		font-weight: bold;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity #trailer-name:hover{
		background-color: darkgray;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity #trailer-addr{
		text-align : center;
		background: gray;
	}
	#moviepage #movietrailer #trailer-content #trailer-entity #trailer-bottom{
		border-radius: 0px 0px 10px 10px;
		background-color: #bef7bf;
		height : 10%;
	}
	#moviepage #moviesteelcut{
		width: 100%;
		height: 22%;		
	}
	#moviepage #moviesteelcut #steelcut-title{
		padding-top : 10px;
		margin : 10px 30px;
		text-align : center;
		background-color: #cccccc;
		width: 94%;
		height: 12%;
	}
	#moviepage #moviesteelcut #steelcut-content{
		padding : 20px 40px;
		height : 87%;
		width: 100%;
	}
	#moviepage #moviesteelcut #steelcut-content #steelcut-entity{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	#moviepage #moviesteelcut #steelcut-content #steelcut-entity img{
		/* height: 100%;
		width: 100%; */
		max-height: 100%;
		width: auto;
	}
	#moviepage #moviereview{
		width: 100%;
		height: 24%;
	}
	#moviepage #moviereview #review-title{
		width: 100%;
		height: 6%;
	}
	#moviepage #moviereview #review-title *{
		height: 100%;
		font-weight : bold;
		font-size : 13px;
		padding-top: 5px;
	}
	#moviepage #moviereview #review-title #left{
		text-align : center;
		color : white;
		width:20%;
		float: left;
		background-color: darkgray;
	}
	#moviepage #moviereview #review-title #right{
		text-align : right;
		width:80%;
		float: right;
		background-color: lightgray;
	}
	#moviepage #moviereview #review-title #right a{
		color : white;
	}
	#moviepage #moviereview #review-content{
		height: 89%;
		width: 100%;
		overflow-x : auto;
	}
	#moviepage #moviereview #review-content #review-info{
		border : 1px solid white;
		background-color : #cccccc;
		text-align :inherit;
		height: 50%;
		width: 50%;
		float: left;
	}
	#moviepage #moviereview #review-content #review-info *{
		padding-top : 3px;
	}
	#moviepage #moviereview #review-content #review-info #evaluate_score{
		color: red;
		float: left;
		text-align: center;
		font-size : 18px;
		height : 15%;
		width: 60%;
	}
	#moviepage #moviereview #review-content #review-info #evaluate_id{
		text-align : center;
		font-weight : bold;
		float: left;
		font-size : 16px;
		height : 15%;
		width: 40%;
	}
	#moviepage #moviereview #review-content #review-info #evaluate_content{
		height : 70%;
		width: 100%;
		overflow: auto;
		font-family: "Times New Roman", Times, serif;
	}
	#moviepage #moviereview #review-content #review-info #evaluate_date{
		text-align : center;
		height : 15%;
		width: 60%;
		float: left;
		font-weight: bold;
	}
	#moviepage #moviereview #review-content #review-info #evaluate_like{
		text-align : center;
		height : 15%;
		width: 40%;
		float: left;
		
	}
	#moviepage #moviereview #review-page{
		width : 100%;
		height : 5%;
		text-align: center;
		background-color: gray;
	}
	/** 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
	div#glayLayer {
		z-index : 2;
		display: none; position: fixed; left: 0; top: 0;
		height: 100%; width: 100%; background: black;
		filter: alpha(opacity=60); opacity: 0.60;
	}
	/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */ 
	#overLayer {
		height : 650px;
		width : 684px;
		z-index : 2;
		display: none; position: fixed;
		top: 50%; left: 50%;
		text-align: center;
		margin-top : -320px; margin-left: -340px;
	}