@charset "UTF-8";
	#moviefind{
		margin : auto;
	}

/* 	a{ */
/* 		color:black; */
/* 	} */
	#moviefind{
		width: 100%;
		height: 1800px;
	}
	#moviefind #pagenevi{
		padding-left : 10px;
		font-size : 13px;
		width: 100%;
		height: 1%;
		background-color: lightgray;
	}
	#moviefind #moviefinder{
		width: 100%;
		height: 23%;
		background-image: url('../../image/storage/test.png');
	}
	#moviefind #moviefinder *{
	}

	#moviefind #moviefinder #finder-title{
		padding : 10px 0px 10px 0px;		
		font-size: 25px;
		font-weight: normal;
		font-family: "Times New Roman", Times, serif;
	}
	
	#moviefind #moviefinder form{
		margin:auto;
		width: 800px;
		height: 100%;
	}
	
	#moviefind #moviefinder table{
		border-radius : 30px;
		width: 100%;
		height: 100%;
		background-color: #2e3a44;
	}
	#moviefind #moviefinder table th,td{
		padding-top : 5px;
		border-top: 1px solid darkgray;
		color : white;
	}
	#moviefind #moviefinder table th{
		width: 20%;
		text-align: center;
	}
	#moviefind #moviefinder table td{
		text-align : left;
		padding : 10px 0px 10px 0px;	
		font-weight : bold;
		font-size : 12px;
		width: 80%;
	}
	#moviefind #moviefinder table td #movie_search,#movie_keyword{
		font-size : 15px;
		color : black;
		height: 80%;
	}
	#moviefind #moviefinder table td #movie_search{
		width: 100px;
	}
	#moviefind #moviefinder table td #movie_keyword{
		width: 400px;	
	}
	#moviefind #moviefinder #finder-submit{
		padding : 10px 0px 10px 0px;		
	}
	#moviefind #moviefinder #finder-submit button{
		color : white;
	}
	
	#moviefind #findresult{
		
		width: 100%;
		height: 76%;
	}
	
	#moviefind #findresult #result-title{
		padding-top : 55px;
		height: 8%;
		z-index : 1;
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		background: #fff url('../../image/storage/h3_search_results.gif') no-repeat scroll center;
	}
	#moviefind #findresult #result-title .hr-title{
		border: 5px double orange;
/* 		display: none; */
	}
	#moviefind #findresult #result-title .hr-title:after{
/* 		content: "www.formget.com"; */
	}
	
	#moviefind #findresult #result-title font{
		color: red;
	}
	#moviefind #findresult #findinfoform{
		padding : 20px 0px;
		width: 100%;
		height: 14%;
	}
	#moviefind #findresult #findinfoform #findinfo{
		font-weight : bold;
		padding-top : 10px;
		padding-left : 30px;
		width: 1000px;
		height: 100%;
		background-color: #cccccc;
	}
	#moviefind #findresult #findinfoform #findinfo table td{
		
		border-top : 0px;
		color : black;
		width: 200px;
	}
	#moviefind #findresult #findinfoform #findinfo li{
		margin-top: 10px;
	}
	#moviefind #findresult #findinfoform #findinfo #content li{
		width : 700px;
		list-style: none;
	}
	
	
	#moviefind #findresult #findcontentform{
		padding : 10px auto;
		width: 100%;
		height: 75%;
	}
	#moviefind #findresult #findcontentform #findcontent{
		width: 1100px;
		height: 100%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity{
		float : left;
		width: 25%;
		height: 33.3%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity *{
		width: 100%;	
		padding-left : 5px;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-poster{
		padding : 3px 40px 3px 20px;
		height : 65%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-poster img{
		height: 100%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-title{
		font-size: 17px;
		font-weight: bold;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-title:hover{
		text-decoration: underline;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-reserve{
		font-weight: bold;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-opendate{
		font-size: 12px;
		color : darkgray;	
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-opendate font{
		font-size : 14px;
		font-weight: bold;
		color : red;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-like{
		height : 15%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-like a{
		color : white;
		padding-left : 10px;
		width: 25%;
		height: 100%;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-like #reserve-btn{
		width: 40%;
		background-color: #e02c14;
	}
	#moviefind #findresult #findcontentform #findcontent #findentity #entity-like #reserve-btn:hover{
		background-color: red;
	}
	
	#moviefind #findresult #findpagingform{
		padding : 0px 200px;
		width: 100%;
		height: 3%;
	}
	#moviefind #findresult #findpagingform #findpaging{
		text-align : center;
		background-color: #cccccc;
		width: 100%;
		height: 100%;
	}