@charset "UTF-8";

body{
	background-color:#FDFCF0;
}

div{
	box-sizing: border-box;
}

.info_box{
	margin:100px;
	width:100%;
	text-align:center;
} 
 
.info_box .info{
	display: inline-block;
	width:60%;
	align:center;
}
 
.info_box .info .info_table{
	padding:30px;
	float:left;
	height: 50%;
	width: 50%;
}

.info_box .info .info_img{
	height: 50%;
	float: left;
	width: 50%; 
	text-align:center;
}

.modify_img{
	height:250px;
	width:500px;
}



/* 버튼 part */
.info .confirm_btn{
  background:powderblue;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-size:0.8em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.info .confirm_btn:hover{
  background:#fff;
  color:powderblue;
}
.info .confirm_btn:before,.info .confirm_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: powderblue;
  transition:400ms ease all;
}
.info .confirm_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.info .confirm_btn:hover:before,.info .confirm_btn:hover:after{
  width:0;
  transition:800ms ease all;
}

.info .main_btn{
  background:pink;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-size:0.8em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.info .main_btn:hover{
  background:#fff;
  color:pink;
}
.info .main_btn:before,.info .main_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: pink;
  transition:400ms ease all;
}
.info .main_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.info .main_btn:hover:before,.info .main_btn:hover:after{
  width:0;
  transition:800ms ease all;
}
