@charset "UTF-8";

body{
	background-color:#FDFCF0;
}

div{
	box-sizing: border-box;
}

.info-com {
	padding: 10px;
    padding-left: 10px;
    background-color: #edebe1;
    border-top: 1px solid #b8b6aa;
    color: #222;
    line-height: 33px;
    text-align: left;
    border-radius: 5px;
}

.info_box{
	width:100%;
	text-align:center;
} 
 
.info_box .info_table{
	padding-left: 30%;
	padding-top: 10%;
	height: 50%;
	width: 100%;
	text-align:center;
}

/* .info_box .info_img{
	height: 50%;
	float: left;
	width: 50%; 
	text-align:center;
} 

.modify_img{
	height:250px;
	width:500px;
} */



/* 버튼 part */
.confirm_btn{
  background:red;
  color:#fff;
  border:none;
  width:110px;
  height:35px;
  font-size: 15px;
  font-weight: bold;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 5px;
}
.confirm_btn:hover{
  background:#fff;
  color:powderblue;
}
.confirm_btn:before,.info .confirm_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: powderblue;
  transition:400ms ease all;
}
/* .confirm_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.confirm_btn:hover:before,.info .confirm_btn:hover:after{
  width:0;
  transition:800ms ease all;
} */

.main_btn {
  border: 3px solid gray;
  color: gray;
  width:130px;
  height:35px;
  font-size: 15px;
  font-weight: bold;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 5px;
}
.main_btn:hover{
  background:#fff;
  color:pink;
}
.main_btn:before,.info .main_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: pink;
  transition:400ms ease all;
}
/* .main_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
} */
.main_btn:hover:before,.info .main_btn:hover:after{
  width:0;
  transition:800ms ease all;
}
.info_table tr {

}
.info_table th {
	width: 120px;
	height: 40px;
	color: gray;
	font-weight: bold;
	font-size: 17px;
}
