<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="qna.bean.QnaDTO" alias="qnaDTO"></typeAlias>
		<typeAlias type="inquiry.bean.InquiryDTO" alias="inquiryDTO"></typeAlias>
		<typeAlias type="noticeItem.bean.NoticeItemDTO" alias="noticeItemDTO"></typeAlias>
		<typeAlias type="admin.bean.AdminDTO" alias="adminDTO"></typeAlias>
		<typeAlias type="admin.bean.AdminRequestDTO" alias="adminRequestDTO"></typeAlias>
		<typeAlias type="movie.bean.MovieDTO" alias="movieDTO"></typeAlias>
		<typeAlias type="moviephoto.bean.MoviePhotoDTO" alias="moviePhotoDTO"></typeAlias>
		<typeAlias type="movietrailer.bean.MovieTrailerDTO" alias="movieTrailerDTO"></typeAlias>
		<typeAlias type="theater.bean.TheaterDTO" alias="theaterDTO"></typeAlias>
		<typeAlias type="timetype.bean.TimetypeDTO" alias="timetypeDTO"></typeAlias>
		<typeAlias type="showPlace.bean.ShowPlaceVO" alias="showPlaceVO"></typeAlias>
		<typeAlias type="showPlace.bean.SeatVO" alias="seatVO"></typeAlias>
		<typeAlias type="showPresent.bean.ShowPresentVO" alias="showPresentVO"></typeAlias>
		<typeAlias type="showPresent.bean.ShowPresentAllVO" alias="showPresentAllVO"></typeAlias>
		<typeAlias type="productboard.bean.ProductBoardDTO" alias="productboardDTO"></typeAlias>
		<typeAlias type="member.bean.MemberDTO" alias="memberDTO"></typeAlias>
 		<typeAlias type="reserve.bean.ReserveDTO" alias="reserveDTO"></typeAlias>
<!-- 		<typeAlias type="seattype.bean.SeattypeDTO" alias="seattypeDTO"></typeAlias> -->
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/inquiry-mapping.xml"/>
		<mapper resource="mybatis/noticeItem-mapping.xml"/>
		<mapper resource="mybatis/qna-mapping.xml"/>
		<mapper resource="mybatis/admin-mapping.xml"/>
		<mapper resource="mybatis/movie-mapping.xml"/>
		<mapper resource="mybatis/moviephoto-mapping.xml"/>
		<mapper resource="mybatis/movietrailer-mapping.xml"/>
		<mapper resource="mybatis/theater_mapper.xml" />
		<mapper resource="mybatis/theater-mapping.xml"/>
		<mapper resource="mybatis/seat-mapping.xml"/>
		<mapper resource="mybatis/timetype-mapping.xml"/>
		<mapper resource="mybatis/showPlace-mapping.xml"/>
		<mapper resource="mybatis/showPresent-mapping.xml"/>
		<mapper resource="mybatis/productboard-mapping.xml" />
		<mapper resource="mybatis/member-mapping.xml" />
 		<mapper resource="mybatis/reserve-mapping.xml" />
		
<!-- 		<mapper resource="mybatis/seattype-mapping.xml"/> -->

	</mappers>
</configuration>
