.slider{
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.slider ul{
	width: 2940px;
	list-style: none;
	font-size: 0;
}
.slider ul li{
	font-size:0;
	display: inline-block;
}
.slider button.prev_btn{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 180px;
}
.slider button.prev_btn img{
	width: 50px;
	height: 50px;

}
.slider button.next_btn{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 180px;
	
}
.slider button.next_btn img{
	width: 50px;
	height: 50px;
}

.div_border{text-align: center;}
#div_mid { border: 1px solid red; }


/** 지도 */
#map{
	margin: 0 auto;
	width:700px;
	height:500px;
}