/* 푸터영역 */
#footer{
	height: 100%;
}
#footer_text{
	text-align: center;
	font-size: 5px;
}
#footer_img_cj1{
	width:100%;
	text-align: center;
}
#footer_img_cj2{
	float: left;
	align-content: center;
}
p{
	align-content: center;
	margin: 0px;
}
#p_top{
	margin: 10px;
}

#footer_bottom{
	margin-top:10px;
	width:90%;
	float: left;
	font-size: 9px;
}
#footer_img{
	width:10%;
	float: left;
}
#footer_mid{
	text-align:  center;
}

#footer_bottom_img{
	width: 100%;
}
/* 헤더영역 */
