/* 푸터영역 */
.footer_main_div #footer_text{
	text-align: center;
	font-size: 5px;
}
.footer_main_div #footer_img_cj1{
	width:100%;
	text-align: center;
}
.footer_main_div #footer_img_cj2{
	float: left;
	align-content: center;
	height:50px;
	margin-top: -10px;
	margin-left: 350px;
}
.footer_main_div p{
	align-content: center;
	margin: 0px;
}
.footer_main_div #p_top{
	margin: 10px;
}

.footer_main_div #footer_bottom{
	margin-top:10px;
	width:100%;
	float: left;
	font-size: 9px;
}
.footer_main_div #footer_img{
	margin-top:-40px;
	margin-left:1400px;
	width:250px;
}
.footer_main_div #footer_mid{
	text-align:  center;
}

.footer_main_div #footer_bottom_img{
	width: 100px;
}
/* 헤더영역 */
.footer_main_div #footer_text{
	text-align: center;
}
