/* 마이페이지홈 바디 전체 최상위 영역*/

/* 마이페이지홈 바디 전체 최상위의 한단계아래 영역, 여기는 mypageHome.jsp실행하면 먹히는 css */

.sect-content-movie{
	margin-left: 100px;
	width: 601px;
	height: 124px;
	background-image: url("/MyCGV/image/mypage/wishlist_img.png");
}

div.sect-content-movie div {
	float: left;
} 
.sect-content-movie .box-inner{
	width:600px;
	height:120px;
	text-align: center;
	font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
	font-size:11px;
}
.sect-content-movie #home_span1{
	position: relative;
	top:73px;
	left: 42px;
}
.sect-content-movie #home_span2{
	position: relative;
	top:73px;
	left: 127px;
}
.sect-content-movie #home_span3{
	position: relative;
	top:73px;
	left: 197px;
	
}
.sect-content-movie .box-inner a{
	text-decoration:none;
}

.mypage_bottom_div{
 	position:relative;
 	top:50px;
 	left:5px;
	/* border: 1px solid blue; */
	float: left;
}
.title-mypage_h3{
	float: left;
}
#title-mypage_em1{
	float: left;
	position: relative;
	top: 20px;
	left: 50px;
	
}
#title-mypage_em1_img1{
	float: left;
	position: relative;
	top: 13px;
	left: 50px;
	
}
#mypagehome_border1_p{
	font-size: 11px;
	float: right;
	margin-top: 20px;
}
#title-mypage_em2{
	float: left;
	position: relative;
	top: 20px;
	left: 50px;
	
}
#title-mypage_em1_img2{
	float: left;
	position: relative;
	top: 13px;
	left: 50px;
	
}
#mypagehome_border2_p{
	font-size: 11px;
	float: right;
	margin-top: 20px;
}
#title-mypage_em1_img2_2{
	margin-top: -40px;
}
#mypagehome_border2_p{
	font-size: 11px;
	float: right;
	margin-top: 20px;
}
#title-mypage_em1_img3_3{
	margin-top: -10px;
}