.mypageHome_main_div{
	border:1px dotted red;
	width: 1550px;
	/* height: 1600px; 나중에맞쳐줘야함*/
}

.mypageHome_main_div ul{
	
	border:1px solid black;
	padding-left:0px;
	list-style:none;
	width: 100%;
	margin-top: 2px;
	

}

.mypageHome_main_div li{
	border:1px solid red;
	margin-top: 2px;
}

.mypageHome_main_div li #test{
	border:1px solid yellow;
}


.mypageHome_main_div a{
	color:black;
	text-decoration:none;
}

#content-aside{
	width: 200px;
	margin-top:40px;
	margin-left: 60px;	
}