@charset "UTF-8";
a {
	text-decoration: none;
}

#mypageBody {
	width: 100%;
	min-height: 2500px;
	height: auto;
	margin: auto;
	background-color:#FDFCF0;
}

#mypageBody #my-info-wrap {
	width: 70%;
	height: 500px;
	background: url("/MyCGV/image/mypage/myInfoImg.png");
	background-size: contain;
	margin: auto;
}

#mypageBody #my-content-wrap {
	width: 70%;
	min-height: 2000px;
	height: auto;
	margin: auto;
	padding-top: 10px;
}

#mypageBody #my-content-wrap #content-aside {
	width: 20%;
	height: auto;
	float: left;
}
#mypageBody #my-content-wrap #content-detail {
	float: left;
	width: 80%;
	height: auto;
	padding-left: 30px;
}


#mypageBody #my-info-wrap .profile {
	width: 100%;
	height: 50%;
	padding-top: 35px;
	padding-left: 25px;
}

#mypageBody #my-info-wrap .benefit {
	width: 100%;
	height: 50%;
	padding: 30px;
}

.benefit>.point {
	float: left;
	width: 58%;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 20px;
	padding-left: 80px;
}

.benefit>.point>div {
	height: 30%;
	padding-left: 110px;
	margin-bottom: 15px;
}

.benefit>.col-favorite-theater {
	float: left;
	width: 38%;
	height: 100%;
	position: relative;
	text-align: center;
}

.col-favorite-theater .sect-favorite {
	padding-top: 15px;
	padding-right: 40px;
	width: 100%;
	height: 80%;
	text-align: right;
}
.sect-favorite>ul,li {
	list-style: none;
}

div.profile>div {
	float: left;
}

div#my-info-wrap>.profile>.profileInfo>.personInfo>strong {
	color: white;
}
div#my-info-wrap>.profile>.profileInfo>.personInfo>em {
	color: white;
}
div#my-info-wrap>.profile>.profileInfo>.personInfo>span {
	color: white;
}
div#my-info-wrap>.profile>.profileInfo>.personInfo>a {
	color: white;
}
div#my-info-wrap>.benefit>.point strong {
	color: white;
} 
div#my-info-wrap>.benefit>.point>a {
	color: white;
} 
div#my-info-wrap>.benefit>.col-favorite-theater>h2 {
	color: white;
	text-align: right;
	margin-right: 30px;
}
div#my-info-wrap .benefit .sect-favorite a {
	color: white;
}

#mypageBody #my-info-wrap .profileImg {
	position: relative;
	top: 56px;
	left: 50px;
}

#mypageBody #my-info-wrap #profile_img {
	color: white;
	width: 140px;
	height: 140px;
	border: 2px solid white;
	border-radius: 10px;
}

#mypageBody #my-info-wrap .profileInfo {
	position: relative;
	left: 80px;
	top: 56px;
}

#mypageBody #my-info-wrap .gradeInfo p {
	position: relative;
	top: 20px;
	left: 10px;
	margin-bottom: 4px;
	color: white;
	font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
	font-size: 20px;
	line-height: 20px;
}

.paging {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
}
.paging a {
	color: black;
	font-size: 20px;
}
.paging a:hover {
	color: gray;
}

#currentPaging {
	font-weight: bold;
}

.tbl-form .sect-profile-img {margin:10px;padding:15px;border-top: 1px dashed #d6d4ca;}

.tbl-form tbody td,.tbl-form tbody th{padding:14px 0 14px 12px;}
.tbl-form tbody th,.tbl-form tbody td {border-top:2px solid #d6d4ca;}
.tbl-form tbody tr:last-child th,.tbl-form tbody tr:last-child td {border-bottom:3px solid #b8b6aa;}

.tbl-data table{border-top:1px; solid: #b8b6aa;}
.tbl-data table{width: 100%;}
.tbl-data thead th{height:40px;background-color:#e2e2e0;font-size:15px;line-height:34px;text-align: center;}
.tbl-data tbody td,.tbl-data tbody th{padding:14px 0 14px 12px;border-top:1px solid #d6d4ca}
.tbl-data tbody td{overflow:hidden;word-break:break-word}
.tbl-data tbody th strong{line-height:150%}
.tbl-data tbody>tr:first-child td{border:0}
.tbl-data tbody td li{margin-top:10px}
.tbl-data tbody td li:first-child{margin-top:0}
.tbl-data tbody td strong{color:#222;font-family:NanumBarunGothicBold,sans-serif}
.tbl-data tfoot td{padding:14px 0 14px 12px}
.tbl-data td.nodata{padding:45px 0;text-align:center}
.tbl-data td.nodata>p{margin-top:15px}
.tbl-data tbody tr:last-child td {border-bottom:1px solid #b8b6aa;}



.tbl-viw{border-top:1px solid #b8b6aa;border-bottom:1px solid #b8b6aa}
.tbl-viw thead th{padding:0 10px;background-color:#edebe1;line-height:40px;}
.tbl-viw thead th>p>.round{line-height:40px}
.tbl-viw thead th>p>.round>*{padding-left:7px}
.tbl-viw thead th>p:first-child>strong{display:inline-block;overflow:hidden;width:40%;margin-left:15px;color:#222;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.tbl-viw thead th>p:first-child{float:left}
.tbl-viw thead th>p+p{float:right}
.tbl-viw thead th>p>em{margin-left:10px;font-family:verdana,sans-serif}
.tbl-viw tbody th{padding-left:10px;border-top:1px solid #d6d4ca}
.tbl-viw tbody td{padding:25px 10px 23px;border-top:1px solid #d6d4ca}
.tbl-viw tbody td.info{padding-bottom:5px}
.tbl-viw tbody td>dl{overflow:hidden}
.tbl-viw tbody td>dl>dd,.tbl-viw tbody td>dl>dt{float:left;height:50%;margin-bottom:10px}
.tbl-viw tbody td>dl>dt{width:50%}
.tbl-viw tbody td>dl>dd strong,.tbl-viw tbody td>dl>dd>a{display:inline-block}
.tbl-viw tbody td>dl>dd>a>strong,.tbl-viw tbody td>dl>dd>strong{display:inline-block;overflow:hidden;color:#222;text-overflow:ellipsis;white-space:nowrap}
.tbl-viw tbody td>dl.qna>dd{width:296px}
.tbl-viw tbody td>dl.qna>dd>a>strong,.tbl-viw tbody td>dl.qna>dd>strong{max-width:260px}
.tbl-viw tbody td>dl.lent>dd.hope,.tbl-viw tbody td>dl.lent>dd.inquire,.tbl-viw tbody td>dl.lent>dd.tel{margin-right:23px}
.tbl-viw tbody td>dl.lent>dd.hope,.tbl-viw tbody td>dl.lent>dd.inquire{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tbl-viw tbody td>dl.lent>dd.inquire>.round{margin-right:5px;line-height:19px}
.tbl-viw tbody td>dl.lent>dd.inquire>strong{max-width:245px;vertical-align:middle}
.tbl-viw tbody td>dl.lent>dd.inquire,.tbl-viw tbody td>dl.lent>dd.tel{width:300px}
.tbl-viw tbody td>dl.lent>dd.hope{width:188px}
.tbl-viw tbody td>dl.lent>dd.tel{font-family:verdana,sans-serif;font-size:11px;font-weight:700;letter-spacing:-1px}
.tbl-viw tbody td>dl.lent>dd.number{width:56px;font-family:verdana,sans-serif;font-weight:700}
.tbl-viw tbody td>dl.lent>dd.email{width:325px}
.tbl-viw tbody td>dl.lost>dd.color,.tbl-viw tbody td>dl.lost>dd.date,.tbl-viw tbody td>dl.lost>dd.tel{margin-right:22px}
.tbl-viw tbody td>dl.lost>dd.inquire{overflow:hidden;width:715px;text-overflow:ellipsis;white-space:nowrap}
.tbl-viw tbody td>dl.lost>dd.date{width:120px}
.tbl-viw tbody td>dl.lost>dd.color{width:86px}
.tbl-viw tbody td>dl.lost>dd.tel{width:99px}
.tbl-viw tbody td>dl.lost>dd.email{overflow:hidden;width:152px;text-overflow:ellipsis;white-space:nowrap}
.tbl-viw tbody td>.txt-conts{width:780px;margin-bottom:50px;line-height:1.6}
.tbl-viw tbody td>.reply{overflow:hidden;margin:20px 0 5px}
.tbl-viw tbody td>.reply:first-child{margin-top:0}
.tbl-viw tbody td>.reply>strong{display:inline-block;float:left}
.tbl-viw tbody td>.reply>span{display:inline-block;float:right}
.tbl-viw tbody td>.reply>span>strong{margin-right:10px;color:#222}
.tbl-viw tbody td>.reply>span>em{font-family:verdana,sans-serif}
.tbl-viw tbody td>.box-polaroid>.box-inner{padding:20px;line-height:2}
.tbl-viw tbody td>.box-polaroid>.box-inner>.file{margin-top:15px;padding-top:10px;border-top:1px solid #666;text-align:left}
.tbl-viw tbody td>.box-polaroid>.box-inner>.file>strong{margin-right:10px}
.tbl-viw tbody td>label{margin-left:2px;vertical-align:middle}
.tbl-viw tbody td>input[type=radio]{margin:0 0 0 30px}
.tbl-viw tbody td>input[type=radio]:first-child{margin-left:0}
.tbl-viw tbody td>label+.round{margin-left:25px}
.tbl-viw tbody td>label+.round>*{padding:0 10px}
.tbl-viw+.set-btn{overflow:hidden}
.tbl-viw+.set-btn>p:first-child{float:left}
.tbl-viw+.set-btn>p+p{float:right}
.tbl-viw+.set-btn>p>.round>*{padding:0 15px}

.set-btn .round-inblack {
	padding: 10px;
	font-size: 15px;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	background-color: black;
	line-height: 30px;
	text-decoration: none;
}
.set-btn .round-gray {
	padding: 10px;
	font-size: 15px;
	color: gray;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: transparent;
}

#content-aside>ul {
	padding-left: 0px;
	list-style: none;
	width: 100%;
	margin-right: 5px;
}

#content-aside>ul>li {
	border-top: 1px solid #bbb9b1;
	text-align: left;
}

#content-aside>ul>li>a {
	display: block;
	color: black;	
	width: 100%;
	height: 50px;
	padding-left: 10px;
	text-decoration: none;
	color: #222;
	font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;
}

#content-aside>ul>li:hover>a, #content-aside>ul>li>a:focus,
	#content-aside>ul>li.on>a {
	border-top: 0;
	margin-right: 10px;
	background-color: #e71a0f;
	color: #fdfcf0;
	font-weight: bold;
}


.sect-register-gift .round_red {
	border: 2px solid #e71a0f;
	color: #e71a0f;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}

.round-black {
	width: 90px;
	height: 30px;
	background-color: transparent;
	border: 2px solid black;
	font-weight: bold;
	border-radius: 5px;
}
strong.txt-red {
	color: red;
	font-weight: bold;
}